.pio
.vscode
.history
*.log

esp_idf_components/
build/
bin/
tmp/

sdkconfig.old

# Uncomment this line if you wish to ignore the project description file.
# Typically, this file would be tracked if it contains build/dependency configurations:
.project


.metadata
*.tmp
*.bak
*.swp
*~.nib
local.properties

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools
